body {
    background-image: url('../css/images/earth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#title {
    position: absolute;
    letter-spacing: 30px;
    color: rebeccapurple;
    top: 10%;
    left: 15%;
    font-size: 100px;
}

#firebaseui-auth-container {
    position: absolute;
    width: 20%;
    top: 40%;
    left: 45%;
}