body {
    background-image: url('../css/images/galaxy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#title {
    position: absolute;
    letter-spacing: 50px;
    color: white;
    top: 10%;
    left: 5%;
    font-size: 100px;
    text-align: center;
}

#firebaseui-auth-container {
    position: absolute;
    width: 50%;
    height: 10%;
    top: 40%;
    left: 25%;
    zoom: 2.5;
}
